body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  background-color: #fcf2e6;
}

body::before {
  content: "";
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: url("skzoomii-tile.png") repeat;
  background-size: 45px 45px;
  transform: rotate(35deg);
  z-index: -1;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.start-section {
  text-align: center;
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 60px;
  position: relative;
}

.svg-container {
  position: relative;
  width: 85vw;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  transition: transform 0.3s ease;

  margin: 0 auto;
}

.svg-container:hover {
  transform: scale(1.025);
}

.start-button {
  position: relative;
  border: none;
  background-color: transparent;
  margin-top: 20px;
  width: 28vw;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  transition: transform 0.3s ease;
}

.start-button:hover {
  transform: scale(1.025);
}

.click-me {
  position: absolute;
  left: 50%;
  transform: translateX(-140%) translateY(-2%);
  width: 20vw;
  /*max-width: 400px;*/
  pointer-events: none;
  z-index: 2;
}

.make-pfp {
  position: absolute;
  left: 80%;
  transform: translateX(-10%) translateY(-265%);
  width: 18.5vw;
  pointer-events: none;
  z-index: 2;
}

.squiggle1 {
  position: absolute;
  left: 50%;
  transform: translateX(-350%) translateY(-530%);
  width: 11vw;
  pointer-events: none;
  z-index: 2;
}

.squiggle2 {
  position: absolute;
  left: 50%;
  transform: translateX(280%) translateY(-80%);
  width: 11.5vw;
  pointer-events: none;
  z-index: 2;
}

.heart1 {
  position: absolute;
  left: 50%;
  transform: translateX(650%) translateY(-260%);
  width: 4.5vw;
  pointer-events: none;
  z-index: 2;
}

.deco1 {
  position: absolute;
  left: 50%;
  transform: translateX(-390%) translateY(-520%);
  width: 9vw;
  pointer-events: none;
  z-index: 2;
}

.svg-image {
  width: 100%;
  height: auto;
  display: block;
}

.character-selection {
  text-align: center;
  margin: 50px 0;
}

.character-selection h2 {
  font-size: 50px;
  color: #275164;
  padding-top: 30px;
  margin-bottom: 20px;
}

.character-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.character-button {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #eac9a7;
  cursor: pointer;
  background-size: cover;
  background-color: white;
  background-position: center;
}

.select-section {
  padding-top: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 60px;
  padding: 40px;
  flex-wrap: wrap;
}

.preview {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-circle {
  display: flex;
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.preview-canvas {
  width: 100%;
  height: 100%;
}

.selectors {
  flex: 0 0 350px;
  gap: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
}

.category-selectors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px 25px;
  justify-content: center;
  justify-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.category-button {
  width: 117px;
  height: 73px;
  border-radius: 25px;
  flex-shrink: 0;
  background-color: #c8ebed;
  cursor: pointer;
  background-position: center;
  background-size: cover;
}

.option-selectors {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;

  justify-content: center;
}

.option-button {
  width: 100px;
  height: 100px;
  border: 2px solid #eac9a7;
  background-color: white;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.popup-content {
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

footer {
  font-weight: 600;
  font-size: large;
  text-align: center;
  color: #275164;
  margin-bottom: 10px;
}
