body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  background-color: #fcf2e6;
}

body::before {
  content: "";
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: url("skzoomii-tile.png") repeat;
  background-size: 45px 45px;
  transform: rotate(35deg);
  z-index: -1;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.start-section {
  text-align: center;
  padding: 25px;
  margin-top: 10px;
  position: relative;
}

.svg-container {
  position: relative;
  width: 85vw;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  transition: transform 0.3s ease;

  margin: 0 auto;
}

.start-button {
  position: relative;
  border: none;
  background-color: transparent;
  margin-top: 20px;
  width: 28vw;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  transition: transform 0.3s ease;
}

.click-me {
  position: absolute;
  left: 50%;
  transform: translateX(-140%) translateY(-2%);
  width: 20vw;
  /*max-width: 400px;*/
  pointer-events: none;
  z-index: 2;
}

.make-pfp {
  position: absolute;
  left: 80%;
  transform: translateX(-10%) translateY(-265%);
  width: 18.5vw;
  pointer-events: none;
  z-index: 2;
}

.squiggle1 {
  position: absolute;
  left: 50%;
  transform: translateX(-350%) translateY(-530%);
  width: 11vw;
  pointer-events: none;
  z-index: 2;
}

.squiggle2 {
  position: absolute;
  left: 50%;
  transform: translateX(280%) translateY(-80%);
  width: 11.5vw;
  pointer-events: none;
  z-index: 2;
}

.heart1 {
  position: absolute;
  left: 50%;
  transform: translateX(650%) translateY(-260%);
  width: 4.5vw;
  pointer-events: none;
  z-index: 2;
}

.deco1 {
  position: absolute;
  left: 50%;
  transform: translateX(-390%) translateY(-520%);
  width: 9vw;
  pointer-events: none;
  z-index: 2;
}

.start-button:hover {
  transform: scale(1.025);
}

.svg-container:hover {
  transform: scale(1.025);
}

.svg-image {
  width: 100%;
  height: auto;
  display: block;
}

.category-circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.category-button {
  width: 175px;
  height: 175px;
  flex-shrink: 0;
  border-radius: 57px;
  background-color: #c8ebed;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.popup-content {
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
